<main>
  <h1>Hello world!</h1>
  <p>My name is Tim Beattie. I am a junior developer from Ottawa, Canada with an interest in the technologies that power the modern internet. This website is currently under construction. I plan to use it to showcase my projects as I delve into the world of software development.</p>
</main>
