<main>

  <h2>Hello world!</h2>
  <p>My name is Tim Beattie. I am a junior developer from Ottawa, Canada with an interest in the technologies that power the modern internet. This website is currently under construction. I plan to use it to showcase my projects as I delve into the world of software development.</p>

  <h2>Projects</h2>

  <dl>
    <dt>
      Project 1
    </dt>
    <dd>
      A description of project 1.
    </dd>
  </dl>
  <dl>
    <dt>
      Project 2
    </dt>
    <dd>
      A description of project 2.
    </dd>
  </dl>
  <dl>
    <dt>
      Project 3
    </dt>
    <dd>
      A description of project 3.
    </dd>
  </dl>

  <h2>Contact</h2>

  <ul>
    <li>
      Github
    </li>
    <li>
      Linkedin
    </li>
    <li>
      Twitter
    </li>
    <li>
      e-mail
    </li>
  </ul>

</main>
